@using DAL.Entities
@model IEnumerable<Quiz>
@{
    ViewBag.Title = "Index";
}

<h2>Quiz List</h2>


<div class="col-md-12">
    @Html.ActionLink("Add", "Create", "Quiz", new { Area = "Admin" }, new { @class = "btn btn-primary btn-large" })
</div>


    @foreach (var item in Model)
    {
        <div class="alert alert-info" >@Html.ActionLink(item.Name, "Index", "Question", new { quizId = item.Id }, new { })</div>
    }